* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.main {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}
.h1 {
    text-align: left;
    margin: 24px 0;
    font-size: 1.5rem;
}

.table {
    text-align: left;
    border-collapse: collapse;
}

.td {
    padding: 16px 8px;
}

.thead .tr {
    border-bottom: 2px solid rgb(15, 185, 236);
}

.tr :first-child {
    white-space: nowrap;
}

.date {
    background: rgba(15, 185, 236, 0.623);
}

.date .td, .th {
    padding: 8px;
}

.price {
    text-align: right;
}

.tr:last-child {
    border-bottom: 1px solid rgba(15, 185, 236, .3);
}

.expense + .expense {
    border-top: 1px solid rgba(15, 185, 236, .3); 
}