* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 32px 0;
}

.h1 {
    text-align: left;
    margin: 24px 0;
    font-size: 1.5rem;
}

.table {
    text-align: left;
    border-collapse: collapse;
}

.td {
    padding: 16px 8px;
}

.thead .tr {
    border-bottom: 2px solid rgb(15, 185, 236);
}

/* избавляемся от переносов числовых значений
для удобочитаемости на маленьких экранах
и выравниваем по правому краю */
.price {
    white-space: nowrap;
    text-align: right;
}

.date {
    background: rgba(15, 185, 236, .6);
}

.date .td, .th {
    padding: 8px;
}

/* для последнего ряда делаем рамку снизу */
.tr:last-child {
    border-bottom: 1px solid rgba(15, 185, 236, .3);
}

/* для каждого ряда с покупкой рисуем верхнюю рамку
только если их 2 или больше на день */
.expense + .expense {
    border-top: 1px solid rgba(15, 185, 236, .3); 
}


/* вкусовщина - решил немного поиграть с контрастом в ячейках */
.expense .td {
    color: rgb(95, 101, 105);
    vertical-align: top;
}

.expense:hover > * {
    color: rgb(51, 53, 54);
}